<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE generatorConfiguration  
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"  
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
	<!--数据库驱动-->
	<classPathEntry location="D:\work\code\javatool\mybatistool\mysql-connector-java-5.1.24.jar" />

	<context id="DB2Tables" targetRuntime="MyBatis3">

		<commentGenerator>
			<property name="suppressDate" value="true" />
		</commentGenerator>

		<!--数据库链接地址账号密码-->
		<jdbcConnection driverClass="com.mysql.jdbc.Driver"
			connectionURL="jdbc:mysql://10.1.9.96/apollodb?useUnicode=true" userId="root" password="root">
		</jdbcConnection>

		<javaTypeResolver>
			<property name="forceBigDecimals" value="false" />
		</javaTypeResolver>

		<!--生成Model类存放位置-->
		<javaModelGenerator targetPackage="com.changyou.erp.attendance.dao"
			targetProject="CalAttendance">
			<property name="enableSubPackages" value="true" />
			<property name="trimStrings" value="true" />
		</javaModelGenerator>

		<!--生成映射文件存放位置-->
		<sqlMapGenerator targetPackage="com.changyou.erp.attendance.mapper"
			targetProject="CalAttendance">
			<property name="enableSubPackages" value="true" />
		</sqlMapGenerator>

		<!--生成Dao类存放位置-->
		<javaClientGenerator type="XMLMAPPER"
			targetPackage="com.changyou.erp.attendance.vo" targetProject="CalAttendance">
			<property name="enableSubPackages" value="true" />
		</javaClientGenerator>

		<!--生成对应表及类名-->
		<table tableName="At_Attendance_Holiday_Conf" domainObjectName="AtHolidayConf" modelType="flat"></table>
		<table tableName="apollo_erp_workerinfo" domainObjectName="Workerinfo" modelType="flat"></table>		
		<table tableName="Apollo_Erp_Worker" domainObjectName="Worker" modelType="flat"></table>
		<table tableName="At_Attendance_Arrange_Configuration" domainObjectName="ArrangeConf" modelType="flat"></table>
		<table tableName="At_Attendance_Arrange" domainObjectName="Arrange" modelType="flat"></table>
		<table tableName="At_Atendance_Special_Conf" domainObjectName="SpecialConf" modelType="flat"></table>
		<table tableName="v_for_caculate_leave_bill_detail" domainObjectName="LeaveBillDetail" modelType="flat"></table>
		<table tableName="v_for_caculate_leave_forget_bill_main" domainObjectName="LeaveForgetBillMain" modelType="flat"></table>
		<table tableName="v_for_caculate_leave_trip_bill_main" domainObjectName="TripBillMain" modelType="flat"></table>
		<table tableName="At_Attendance_Days_Result" domainObjectName="DaysResult" modelType="flat"></table>
		<table tableName="At_Attendance_Total_Result" domainObjectName="TotalResult" modelType="flat"></table>
		<table tableName="v_erp_attendance_month_statistics" domainObjectName="MonthStatistics" modelType="flat"></table>

	</context>
</generatorConfiguration>  